@font-face {
    font-family: tangerine;
    src: url(Media/fonts/tangerine/Tangerine-Regular.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(Media/fonts/Playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: Joesefin;
  src: url(Media/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

.light-bold {
  font-weight: 400;
}


body {
    width: 100%;
    background-color: #ff6666;
    font-family: Joesefin;
    font-size: 30px;
    font-weight: 300;
    color: black;
    margin: 0px;
}

.image-container:hover {
    opacity: 0.7;
}

.image-container {
    height: 40vh;
    flex-grow: 0.5;
    border: white 1px solid;
}


.images-section {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: top;
    cursor: pointer;
}

.heading {
    flex-flow: column;
    display: flex;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: tangerine;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    font-size: 3em;
    font-family: tangerine;
    margin-bottom: 5px;
}

h3 {
  font-size: 2em;
  font-family: tangerine;
  margin-bottom: 5px;
}

h4 {
  font-size: 1em;
  font-family: tangerine;
  margin-bottom: 5px;
}

.glyphicon{
  top: 8px;
  position: relative;
}

a {
    font-family: Joesefin;
    text-decoration: none;
    color: #072fff;
}
 
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  .modal img {
    height: 80vh;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .info-card {
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: white;
    width: 97vw;
    align-self: center;
    border: black 10px double;
    font-weight: 400;
  }

  .info-images {
    margin-bottom: 0px;
  }
